.time {
    display: flex;
    align-items: center;
    font-size: 24px; /* Adjust font-size as needed */
    color: white;
    justify-content: center;
    align-items: center;
}

body {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px; /* Закругление углов */
    padding: 10px;
    font-family: Arial, sans-serif;
}

.time > div {
    margin: 0 4px; /* Adjust margin to space out the elements as needed */
}

.timer_sec {

};

.timer_min {

};

.timer_hour {

};