body {
    background-color: rgb(35, 35, 35);

    color: rgb(255, 255, 255);
};

.timer_sec {

};

.timer_min {

};

.timer_hour {

};

.does_time {
    .timer_hour {display: none;};
    .timer_min {display: none;};
    .timer_sec {display: none;};
    .dd {display: none;};
}